.left-menu {
  -webkit-box-shadow: 7px 0px 2px 0px #919191;
  box-shadow: 7px 0px 2px 0px #919191;
}

.card-user, .card-edit-profile-text, .card-edit-profile, .card-table-text2, .card-table-text, .card-table, .card-graphics, .card {
  -webkit-box-shadow: 3px 2px 6px 2px rgba(112, 112, 112, 0.73);
  box-shadow: 3px 2px 6px 2px rgba(112, 112, 112, 0.73);
}

.blue-graphic, .orange-graphic, .green-graphic, .plane-img, .tag-img, .shop-img, .data-img {
  -webkit-box-shadow: 5px 0px 9px -3px rgba(112, 112, 112, 0.81);
  box-shadow: 5px 0px 9px -3px rgba(112, 112, 112, 0.81);
}

.user-img {
  -webkit-box-shadow: 3px 2px 6px 2px rgba(112, 112, 112, 0.73);
  box-shadow: 3px 2px 6px 2px rgba(112, 112, 112, 0.73);
}

textarea, input[type=text], input[type=email], input[type=number] {
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgb(112, 112, 112);
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.content {
  margin-left: 235px;
  padding-left: 40px;
  padding-right: 40px;
  min-height: 100vh;
  background-color: #e2e2e2;
}

.row {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.footer-content {
  border-top: 1px solid gray;
  padding-top: 20px;
}

.spisok-contacts {
  padding-bottom: 30px;
}

.first-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row-1 {
  margin-left: 20px;
  margin-right: 20px;
}

.card-user {
  height: max-content;
}

.card-user-img {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  margin-top: -20px;
}

.left-menu {
  top: 0px;
  width: 235px;
  position: fixed;
  left: 0px;
  background-color: rgb(240, 240, 240);
  min-height: 100%;
}

.menu-header {
  margin-left: 60px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  padding-top: 20px;
}

.menu-header2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  padding-top: 15px;
}
.menu-header2 a {
  text-decoration: none;
  color: black;
}
.menu-header2 img {
  visibility: hidden;
}

.spisok-nav {
  list-style-type: none;
  border-top: 2px solid lightgray;
}
.spisok-nav li {
  padding-top: 30px;
  position: relative;
  margin-left: 20px;
}
.spisok-nav a {
  text-decoration: none;
  color: black;
}
.spisok-nav a:link {
  background-color: none;
}
.spisok-nav a:visited {
  background-color: rgb(187, 67, 87);
}
.spisok-nav a:active {
  background-color: rgb(187, 67, 87) !important;
  color: white;
}

.dash a {
  padding: 10px 20px 10px 35px;
}
.dash :before {
  background-image: url(./icons_exam_task1/dashboard_gray.svg);
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-size: cover;
  right: 155px;
}

.user-pr a {
  padding: 10px 15px 10px 35px;
}
.user-pr :before {
  background-image: url(./icons_exam_task1/account_gray.svg);
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-size: cover;
  right: 155px;
}

.maps a {
  padding: 10px 55px 10px 35px;
}
.maps :before {
  background-image: url(./icons_exam_task1/map_gray.svg);
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-size: cover;
  right: 155px;
}

.notification a {
  padding: 10px 5px 10px 35px;
}
.notification :before {
  background-image: url(./icons_exam_task1/notify_gray.svg);
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-size: cover;
  right: 155px;
}

.sup a {
  padding: 10px 40px 10px 35px;
}
.sup :before {
  background-image: url(./icons_exam_task1/support_gray.svg);
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-size: cover;
  right: 155px;
}

.card {
  width: 22%;
  position: relative;
  background-color: white;
}

.card-body h3 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
  text-align: right;
  margin-right: 20px;
}
.card-body h4 {
  font-size: 26px;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 400;
  text-align: right;
  margin-right: 20px;
}
.card-body:after {
  content: "";
  width: 85%;
  height: 1px;
  background-color: #a5a5a5;
  left: 7.5%;
  position: relative;
  display: block;
  top: 10px;
}

.p1::before {
  content: "";
  background-image: url(./icons_exam_task1/alert.png);
  background-size: cover;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 20px;
}

.p2::before {
  content: "";
  background-image: url(./icons_exam_task1/calendar.png);
  background-size: cover;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 20px;
}

.p3::before {
  content: "";
  background-image: url(./icons_exam_task1/down.png);
  background-size: cover;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 20px;
}

.p4::before {
  content: "";
  background-image: url(./icons_exam_task1/time.png);
  background-size: cover;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 20px;
}

.card-description {
  margin-left: 40px;
  margin-top: 25px;
}
.card-description p {
  font-size: 12px;
  color: gray;
}

.card-graphics {
  width: 30%;
  position: relative;
  background-color: white;
}

.card-graphics-body h3 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 0;
  margin-left: 20px;
}
.card-graphics-body h4 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: normal;
  margin-left: 20px;
}
.card-graphics-body:after {
  content: "";
  width: 90%;
  height: 1px;
  background-color: #a5a5a5;
  left: 25px;
  position: relative;
  display: block;
  top: 10px;
}

.card-graphics-description {
  margin-left: 40px;
  margin-top: 25px;
}
.card-graphics-description p {
  font-size: 12px;
  color: gray;
}

.card-graphics-p::before {
  content: "";
  background-image: url(./icons_exam_task1/time.png);
  background-size: cover;
  position: absolute;
  width: 15px;
  height: 15px;
  left: 20px;
}

.card-table {
  width: 48%;
  position: relative;
  background-color: white;
}

.card-table-text {
  background-color: rgb(235, 170, 51);
  padding: 30px 15px 30px 15px;
  display: flex;
  margin-left: 2.5%;
  width: 95%;
  margin-top: -20px;
}
.card-table-text p {
  display: inline;
  color: white;
}

.card-table-list {
  list-style-type: none;
  display: inline-flex;
  padding: 0;
}
.card-table-list li {
  margin-left: 70%;
}
.card-table-list a {
  color: white;
  text-decoration: none;
}

.table-card3 {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

td {
  padding-top: 30px;
  padding-right: 60px;
  padding-bottom: 20px;
}

th {
  padding-top: 30px;
  text-align: left;
  color: rgb(9, 140, 192);
  padding-bottom: 20px;
}

.card-table-text2 {
  background-color: rgb(9, 9, 192);
  padding: 30px 15px 30px 15px;
  display: flex;
  margin-left: 2.5%;
  width: 95%;
  margin-top: -20px;
}

.card-table-h4 {
  font-size: 20px;
  color: white;
  margin: 0;
  font-weight: 200;
}

.card-table-p {
  padding-bottom: 10px;
  color: white;
  margin: 0;
  font-weight: 200;
}

.spisok-contacts li {
  display: inline;
  list-style-type: none;
  margin-right: 30px;
}
.spisok-contacts li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.card-edit-profile {
  width: 60%;
  position: relative;
  background-color: white;
}

.card-edit-profile-text {
  background-color: rgb(187, 67, 87);
  padding: 30px 15px 30px 15px;
  display: flex;
  margin-left: 2.5%;
  width: 95%;
  margin-top: -20px;
}

.card-edit-profile-h4 {
  font-size: 20px;
  color: white;
  margin: 0;
  font-weight: 200;
}

.card-edit-profile-p {
  padding-bottom: 10px;
  color: white;
  margin: 0;
  font-weight: 200;
}

textarea {
  resize: none;
  overflow: hidden;
}

label {
  display: block;
}

.div-form {
  width: 30%;
  margin-top: 10px;
}

.div-form2 {
  width: 48%;
  margin-top: 10px;
}

.div-form3 {
  width: 100%;
}

.row-1 button {
  float: right;
  background-color: rgb(187, 67, 87);
  border: none;
  padding: 12px 45px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
}
.row-1 button a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.row-1 button:hover {
  background-color: rgb(158, 56, 73);
}

.card-user {
  width: 35%;
  position: relative;
  background-color: white;
}

.card-user-body h3 {
  text-align: center;
  color: gray;
  font-weight: 200;
}
.card-user-body h4 {
  text-align: center;
}

.card-user-desc p {
  margin: 10px 15px;
  text-align: center;
}

.data-img {
  background-color: #008000;
  padding: 20px;
  position: absolute;
  left: 5%;
  top: -15%;
}

.shop-img {
  background-color: rgb(235, 170, 51);
  padding: 20px;
  position: absolute;
  left: 5%;
  top: -15%;
}

.tag-img {
  background-color: rgb(9, 9, 192);
  padding: 20px;
  position: absolute;
  left: 5%;
  top: -15%;
}

.plane-img {
  background-color: rgb(187, 67, 87);
  padding: 20px;
  position: absolute;
  left: 5%;
  top: -15%;
}

.green-graphic {
  background-color: #008000;
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-top: -20px;
}

.orange-graphic {
  background-color: rgb(235, 170, 51);
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-top: -20px;
}

.blue-graphic {
  background-color: rgb(9, 9, 192);
  width: 90%;
  height: 90%;
  margin-left: 5%;
  margin-top: -20px;
}

.bugs {
  position: relative;
}
.bugs a::before {
  content: "";
  background-image: url(./icons_exam_task1/bug.svg);
  background-size: cover;
  width: 16px;
  height: 18px;
  position: absolute;
  right: 110%;
}

.website {
  position: relative;
}
.website a::before {
  content: "";
  background-image: url(./icons_exam_task1/web.svg);
  width: 18px;
  height: 18px;
  background-size: cover;
  position: absolute;
  right: 110%;
}

.cloud {
  position: relative;
}
.cloud a::before {
  content: "";
  background-image: url(./icons_exam_task1/cloud.svg);
  width: 28px;
  height: 18px;
  background-size: cover;
  position: absolute;
  right: 110%;
}

.user-img {
  width: 170px;
  height: 170px;
  border: 1px black solid;
  border-radius: 50%;
  overflow: hidden;
}

@media (max-width: 1370px) {
  .card {
    width: 24%;
  }

  .card img {
    width: 30%;
    padding: 15px;
  }

  .card-table-list li {
    margin-left: 30%;
  }

  .table-card3 {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }

  td {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
  }

  th {
    padding-top: 20px;
    text-align: left;
    color: rgb(9, 140, 192);
    padding-bottom: 10px;
  }

  .card-table {
    width: 49%;
  }

  .header-list {
    padding: 20px;
  }
}
@media (max-width: 1000px) {
  .row {
    flex-wrap: wrap;
  }

  .card {
    width: 45%;
    margin-bottom: 70px;
  }

  .card-table-main {
    margin-top: 0;
  }

  .card-graphics-img img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: -20px;
    padding: 10px;
  }

  .card-graphics-body h3,
.card-graphics-body h4 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .card-graphics-body:after {
    content: "";
    width: 90%;
    height: 1px;
    background-color: #a5a5a5;
    left: 5%;
    position: relative;
    display: block;
    top: 10px;
  }

  .card-table {
    width: 100%;
    margin-bottom: 60px;
  }

  .table-card3 {
    margin-top: 0;
  }

  .card-table-text {
    margin-left: 2.5%;
  }

  .card-table-list {
    margin-left: 10%;
  }

  .card-table-list li {
    margin-left: 50%;
  }

  .card2-body h4 {
    font-size: 16px;
  }

  .header-list {
    padding-bottom: 20px;
  }

  .user-profile {
    flex-wrap: wrap-reverse;
  }

  .card-edit-profile {
    width: 100%;
    margin-bottom: 40px;
  }

  .card-user {
    width: 100%;
    margin-bottom: 80px;
  }
}
@media (max-width: 800px) {
  .left-menu {
    visibility: hidden;
  }

  .content {
    margin-left: 0;
  }

  .menu-header2 {
    margin-left: 40px;
    position: relative;
  }

  .menu-header2 img {
    width: 30px;
    height: 20px;
    visibility: inherit;
  }

  .card {
    width: 48%;
  }

  .footer-content {
    border: none;
    margin-top: 0;
  }

  footer {
    border-top: 1px solid gray;
  }

  .card-graphics-body h3 {
    font-size: 16px;
    font-weight: 500;
  }

  .card-graphics-body h4 {
    font-size: 14px;
  }

  .card-table {
    padding-bottom: 10px;
  }

  .card-table img {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 649px) {
  .card-body:after {
    width: 90%;
    left: 5%;
  }

  .card-graphics-img img {
    width: 90%;
    height: 90%;
    margin-left: 5%;
  }

  .second-card-row {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .card-graphics {
    width: 100%;
    margin-bottom: 60px;
  }

  .card-graphics-body:after {
    width: 95%;
    left: 2.5%;
  }

  .third-card-row {
    margin-top: 20px;
  }

  .card-table-row {
    padding-bottom: 30px;
  }

  .card-table-list {
    margin-left: 0;
  }

  .card-table img {
    width: 24px;
    height: 24px;
  }

  .footer-content {
    margin-left: 35px;
    margin-right: 35px;
    padding-bottom: 20px;
  }

  .spisok-contacts {
    padding: 0;
  }

  .card-table-text, .card-table-text2 {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}
@media (max-width: 499px) {
  .first-card-row {
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
  }

  .card-graphics-img img {
    width: 90%;
    height: 90%;
    margin-left: 5%;
  }

  .card img {
    width: 25%;
  }

  .card-table-text {
    position: relative;
  }

  .card-table-list {
    width: 25%;
  }

  .card-table img {
    width: 24px;
    height: 24px;
  }

  .footer-content {
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer-content p {
    font-size: 16px;
  }

  .spisok-contacts {
    padding: 0;
  }

  .spisok-contacts li {
    font-size: 16px;
    margin-right: 5px;
    padding-left: 0;
  }

  .card-table-h4, .card-table-p, .card-table-text {
    font-size: 16px;
  }

  .card-user-body h3 {
    font-size: 16px;
  }
  .card-user-body h4 {
    font-size: 16px;
  }

  .card-user-desc p {
    font-size: 16px;
  }

  label {
    font-size: 14px;
  }
}

/*# sourceMappingURL=all.css.map */
