html, body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    
}

.left-menu {
    top: 0px;
    width: 235px;
    position: fixed;
    left: 0px;
    background-color: rgb(240, 240, 240);
    min-height: 100%;
    -webkit-box-shadow: 7px 0px 2px 0px #919191; 
    box-shadow: 7px 0px 2px 0px #919191;
}

.content {
    margin-left: 235px;
    min-height: 100vh;
    background-color: #e2e2e2;
}

.menu-header {
    margin-left: 30px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    padding-top: 20px;
}

.spisok-nav {
    list-style-type: none;
    border-top: 2px solid lightgray;
}

.spisok-nav li {
    padding-top: 30px;
    position: relative;
    margin-left: 20px;
}

.spisok-nav li a {
    text-decoration: none;
    color: black;
}

.spisok-nav li a:focus {
    background-color: rgb(187, 67, 87) !important;
    color: white;
}

.dash a {
    padding: 10px 20px 10px 35px;
}

.user-pr a {
    padding: 10px 15px 10px 35px;
}

.maps a {
    padding: 10px 55px 10px 35px;
}

.notification a {
    padding: 10px 5px 10px 35px;
}

.sup a {
    padding: 10px 40px 10px 35px;
}

.dash ::before {
    content: '';
    background-image: url(./icons_exam_task1/dashboard_gray.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: cover;
    right: 155px;

}

.user-pr ::before {
    content: '';
    background-image: url(./icons_exam_task1/account_gray.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: cover;
    right: 155px;
}

.maps ::before {
    content: '';
    background-image: url(./icons_exam_task1/map_gray.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: cover;
    right: 155px;
}

.notification ::before {
    content: '';
    background-image: url(./icons_exam_task1/notify_gray.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: cover;
    right: 155px;
}

.sup ::before {
    content: '';
    background-image: url(./icons_exam_task1/support_gray.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: cover;
    right: 155px;
}

.first-card-row {
    margin-left: 40px;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    margin-right: 40px;
}

.card {
    width: 20%;
    position: relative;
    background-color: white;
    -webkit-box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73); 
    box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73);
}

.data-img {
    background-color: green;
    padding: 20px;
    position: absolute;
    left: 5%;
    top: -15%;
    -webkit-box-shadow: 5px 0px 9px -3px rgba(112,112,112,0.81); 
    box-shadow: 5px 0px 9px -3px rgba(112,112,112,0.81);
}

.card-body h3, .card-body h4 {
    text-align: right;
    margin-right: 20px;
}

.card-body h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
}

.card-body h4 {
    font-size: 26px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 400;
}

.card-body:after {
   content: "";
    width: 85%;
    height: 1px;
    background-color: #a5a5a5;
    left: 20px;
    position: relative;
    display: block;
    top: 10px;
}

.card-description {
    margin-left: 40px;
    margin-top: 25px;
}

.card-description p {
    font-size: 12px;
    color: gray;
}

.shop-img {
    background-color: rgb(235, 170, 51);
    padding: 20px;
    position: absolute;
    left: 5%;
    top: -15%;
    -webkit-box-shadow: 5px 0px 9px -3px rgba(112,112,112,0.81); 
    box-shadow: 5px 0px 9px -3px rgba(112,112,112,0.81);
}

.tag-img {
    background-color: rgb(9, 9, 192);
    padding: 20px;
    position: absolute;
    left: 5%;
    top: -15%;
    -webkit-box-shadow: 5px 0px 9px -3px rgba(112,112,112,0.81); 
    box-shadow: 5px 0px 9px -3px rgba(112,112,112,0.81);
}

.plane-img {
    background-color: rgb(187, 67, 87);
    padding: 20px;
    position: absolute;
    left: 5%;
    top: -15%;
    -webkit-box-shadow: 5px 0px 9px -3px rgba(112,112,112,0.81); 
    box-shadow: 5px 0px 9px -3px rgba(112,112,112,0.81);
}

.p1::before {
    content: '';
    background-image: url(./icons_exam_task1/alert.png);
    background-size: cover;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 20px;
}

.p2::before {
    content: '';
    background-image: url(./icons_exam_task1/calendar.png);
    background-size: cover;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 20px;
}

.p3::before {
    content: '';
    background-image: url(./icons_exam_task1/down.png);
    background-size: cover;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 20px;
}

.p4::before {
    content: '';
    background-image: url(./icons_exam_task1/time.png);
    background-size: cover;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 20px;
}

.second-card-row {
    margin-left: 40px;
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    margin-right: 40px;
}

.card2 {
    width: 30%;
    position: relative;
    background-color: white;
    -webkit-box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73); 
    box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73);
}


.img2-1 {
    background-color: green;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: -20px;
    -webkit-box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73); 
    box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73);
}

.img2-2 {
    background-color: rgb(235, 170, 51);
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: -20px;
    -webkit-box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73); 
    box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73);
}

.img2-3 {
    background-color: rgb(9, 9, 192);
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: -20px;
    -webkit-box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73); 
    box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73);
}

.card2-body h3, .card2-body h4 {
    margin-left: 20px;
}

.card2-body h3 {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 0;
}

.card2-body h4 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: normal;
}

.card2-body:after {
   content: "";
    width: 90%;
    height: 1px;
    background-color: #a5a5a5;
    left: 25px;
    position: relative;
    display: block;
    top: 10px;
}

.third-card-row {
    margin-left: 40px;
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    margin-right: 40px;
}

.card3 {
    width: 48%;
    position: relative;
    background-color: white;
    -webkit-box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73); 
    box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73);
}

.card3-text {
    background-color: rgb(235, 170, 51);
    padding: 30px 15px 30px 15px ;
    margin: auto;
    width: 95%;
    margin-top: -20px;
    -webkit-box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73); 
    box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73);
}

.card3-text p {
    display: inline;
    color: white;
}

.card3-list {
    list-style-type: none;
    display: inline-flex;
    padding: 0;
}

.card3-list li {
    margin-left: 100px;
}

.card3-list a {
    color: white;
    text-decoration: none;
}

.bugs a::before {
    content: '';
    background-image: url(./icons_exam_task1/bug.svg);
    background-size: cover;
    width: 16px;
    height: 18px;
    position: absolute;
    left: 140px;
}

.website a::before {
    content: '';
    background-image: url(./icons_exam_task1/web.svg);
    width: 18px;
    height: 18px;
    background-size: cover;
    position: absolute;
    left: 280px;
}

.cloud a::before {
    content: '';
    background-image: url(./icons_exam_task1/cloud.svg);
    width: 28px;
    height: 18px;
    background-size: cover;
    position: absolute;
    left: 420px;
}


.table-card3 {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

td {
    padding-top: 30px;
    padding-right: 60px;
    padding-bottom: 20px;
}

th {
    padding-top: 30px;
    text-align: left;
    color: rgb(9, 140, 192);
    padding-bottom: 20px;
}


.card3-text2 {
    background-color: rgb(9, 9, 192);
    padding: 30px 15px 30px 15px ;
    margin: auto;
    width: 95%;
    margin-top: -20px;
    -webkit-box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73); 
    box-shadow: 3px 2px 6px 2px rgba(112,112,112,0.73);
}

.card-3-h4 , .card-3-p {
    color: white;
    margin: 0;
    font-weight: 200;
}

.card-3-h4 {
    font-size: 20px;
}

.card-3-p {
    padding-bottom: 10px;
}

.footer-content {
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    border-top: 1px solid gray;
    justify-content: space-between;
    padding-top: 20px;
}

.spisok-contacts {
    padding-bottom: 30px;
}

.spisok-contacts li{
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

.spisok-contacts li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


