@media (max-width: 1370px) {

    .card {
        width: 24%;
    }

    .card img {
        width: 30%;
        padding: 15px;
    }

    .card-table-list li {
        margin-left: 30%;
    }

    .table-card3 {
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    
    td {
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 5px;
    }
    
    th {
        padding-top: 20px;
        text-align: left;
        color: rgb(9, 140, 192);
        padding-bottom: 10px;
    }

    .card-table {
        width: 49%;
    }

    .header-list {
        padding: 20px;
    }
}


@media (max-width: 1000px) {

    .first-card-row {
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
        margin-bottom: 70px;
    }

    .card-table-main {
        margin-top: 0;
    }

    .card-graphics-img img {
        width: 80%;
        height: 80%;
        margin-left: 10%;
        margin-top: -20px;
        padding: 10px;
    }

    .card-graphics-body h3,
    .card-graphics-body h4 {
        margin-left: 15px;
        margin-right: 15px;

    }

    .card-graphics-body:after {
        content: "";
        width: 90%;
        height: 1px;
        background-color: #a5a5a5;
        left: 5%;
        position: relative;
        display: block;
        top: 10px;
    }

    .third-card-row {
        flex-wrap: wrap;
    }

    .card-table {
        width: 100%;
        margin-bottom: 60px;
    }

    .table-card3 {
        margin-top: 0;
    }

    .card-table-text {
        margin-left: 2.5%;
    }

    .card-table-list {
        margin-left: 10%;
    }

    .card-table-list li {
        margin-left: 50%;
    }

    .card2-body h4 {
        font-size: 16px;
    }

    .header-list {
        padding-bottom: 20px;
    }

    .first-card-row-second-page {
        flex-wrap: wrap-reverse;
    }

    .card-edit-profile{
        width: 100%;
        margin-bottom: 40px;
    }

    .card-user {
        width: 100%;
        margin-bottom: 80px;
    }

    .footer-content-second-page {
        border: none;
        margin-top: 40px;
    }
}

@media (max-width: 800px) {
    .left-menu {
        visibility: hidden;
    }

    .content {
        margin-left: 0;
    }

    .menu-header2 {
        margin-left: 40px;
        position: relative;
    }

    .menu-header2 img {
    width: 30px;
    height: 20px;
    visibility: inherit;
    }

    .card {
        width: 48%;
    }

    .footer-content {
        border: none;
        margin-top: 0;
    }

    footer {
        border-top: 1px solid gray;
    }

    .card-graphics-body h3 {
        font-size: 16px;
        font-weight: 500;
    }

    .card-graphics-body h4 {
        font-size: 14px;
    }

    .card-table {
        padding-bottom: 10px;
    }

    .card-table img {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 649px) {
    .card-body:after {
        width: 90%;
        left: 5%;
    }

    .card-graphics-img img {
        width: 90%;
        height: 90%;
        margin-left: 5%;
    }
    .second-card-row {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .card-graphics {
        width: 100%;
        margin-bottom: 60px;
    }

    .card-graphics-body:after {
        width: 95%;
        left: 2.5%;
    }

    .third-card-row {
        margin-top: 20px;
    }

    .card-table-row {
        padding-bottom: 30px;
    }

    .card-table-list {
        margin-left: 0;
    }

    .card-table img {
        width: 24px;
        height: 24px;
    }

    .footer-content {
        margin-left: 35px;
        margin-right: 35px;
        padding-bottom: 20px;
    }

    .spisok-contacts {
        padding: 0;
    }

    .card-table-text, .card-table-text2 {
        padding-bottom: 15px;
        padding-top: 15px;
    }

}

@media (max-width: 499px) {
    .first-card-row {
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
    }

    .card-graphics-img img {
        width: 90%;
        height: 90%;
        margin-left: 5%;
    }

    .card img {
        width: 25%;
    }

    .card-table-text {
        position: relative;
    }

    .card-table-list  {
        width: 25%;
    }

    .card-table img {
        width: 24px;
        height: 24px;
    }

    .footer-content {
        padding-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .footer-content p {
        font-size: 16px;
    }

    .spisok-contacts {
        padding: 0;
    }

    .spisok-contacts li {
        font-size: 16px;
        margin-right: 5px;
        padding-left: 0;
    }

    .card-table-h4, .card-table-p, .card-table-text  {
        font-size: 16px;
    }

    .card-user-body {
        h3 {
            font-size: 16px;
        }
        
        h4 {
            font-size: 16px;;
        }
    }
    
    .card-user-desc p {
        font-size: 16px;
    }

    label {
        font-size: 14px;
    }
}