.card {
    width: 22%;
    position: relative;
    background-color: white;
    -webkit-box-shadow: 3px 2px 6px 2px rgba(112, 112, 112, 0.73);
    box-shadow: 3px 2px 6px 2px rgba(112, 112, 112, 0.73);
}

.data-img {
    background-color: green;
    padding: 20px;
    position: absolute;
    left: 5%;
    top: -15%;
    -webkit-box-shadow: 5px 0px 9px -3px rgba(112, 112, 112, 0.81);
    box-shadow: 5px 0px 9px -3px rgba(112, 112, 112, 0.81);
}

.card-body  {

    h3 {
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 0;
        text-align: right;
        margin-right: 20px; 
    }

    h4 {
        font-size: 26px;
        margin-bottom: 10px;
        margin-top: 0;
        font-weight: 400;
        text-align: right;
        margin-right: 20px;
    } 

    &:after {
        content: "";
        width: 85%;
        height: 1px;
        background-color: #a5a5a5;
        left: 7.5%;
        position: relative;
        display: block;
        top: 10px;
    }
}

.card-description {
    margin-left: 40px;
    margin-top: 25px;

    p {
        font-size: 12px;
        color: gray;
    }
}

.card2 {
    width: 30%;
    position: relative;
    background-color: white;
    -webkit-box-shadow: 3px 2px 6px 2px rgba(112, 112, 112, 0.73);
    box-shadow: 3px 2px 6px 2px rgba(112, 112, 112, 0.73);
}

.card2-body {
    h3 {
        font-size: 22px;
        font-weight: normal;
        margin-bottom: 0;
        margin-left: 20px;
    }
    
    h4 {
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 0;
        font-weight: normal;
        margin-left: 20px;
    }

    &:after {
        content: "";
        width: 90%;
        height: 1px;
        background-color: #a5a5a5;
        left: 25px;
        position: relative;
        display: block;
        top: 10px;
    }
}

.card3 {
    width: 48%;
    position: relative;
    background-color: white;
    -webkit-box-shadow: 3px 2px 6px 2px rgba(112, 112, 112, 0.73);
    box-shadow: 3px 2px 6px 2px rgba(112, 112, 112, 0.73);
}

.card3-text {
    background-color: rgb(235, 170, 51);
    padding: 30px 15px 30px 15px;
    display: flex;
    margin-left: 2.5%;
    width: 95%;
    margin-top: -20px;
    -webkit-box-shadow: 3px 2px 6px 2px rgba(112, 112, 112, 0.73);
    box-shadow: 3px 2px 6px 2px rgba(112, 112, 112, 0.73);

    p {
    display: inline;
    color: white;
    }
}

.card3-list {
    list-style-type: none;
    display: inline-flex;
    padding: 0;

    li {
        margin-left: 70%;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

.table-card3 {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

td {
    padding-top: 30px;
    padding-right: 60px;
    padding-bottom: 20px;
}

th {
    padding-top: 30px;
    text-align: left;
    color: rgb(9, 140, 192);
    padding-bottom: 20px;
}

.card3-text2 {
    background-color: rgb(9, 9, 192);
    padding: 30px 15px 30px 15px;
    margin: auto;
    width: 95%;
    margin-top: -20px;
    -webkit-box-shadow: 3px 2px 6px 2px rgba(112, 112, 112, 0.73);
    box-shadow: 3px 2px 6px 2px rgba(112, 112, 112, 0.73);
}

.card-3-h4 {
    font-size: 20px;
    color: white;
    margin: 0;
    font-weight: 200;
}

.card-3-p {
    padding-bottom: 10px;
    color: white;
    margin: 0;
    font-weight: 200;
}

.spisok-contacts li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

.spisok-contacts li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

