body {
    @include reset;
    font-family: $font-stack;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100%;
    @include reset;
}

.content {
    margin-left: 235px;
    min-height: 100vh;
    background-color: #e2e2e2;
}

.first-card-row {
    margin-left: 40px;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    margin-right: 40px;
}

.second-card-row {
    @include second-third-cardrw;
}

.third-card-row {
    @include second-third-cardrw;
}

.footer-content {
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    border-top: 1px solid gray;
    justify-content: space-between;
    padding-top: 20px;
}

.spisok-contacts {
    padding-bottom: 30px;
}

.first-form {
    display: flex;
    justify-content: space-between;
}

.row-1 {
    margin-left: 20px;
    margin-right: 20px;
}

.card-second-page {
    height:max-content;
}

.first-card-row-second-page {
    margin-left: 40px;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    margin-right: 40px;
}

.card-second-page-img {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    margin-top: -20px;
}

.footer-content-second-page {
    display: flex;
    margin-top: 90px;
    margin-left: 40px;
    margin-right: 40px;
    border-top: 1px solid gray;
    justify-content: space-between;
    padding-top: 20px;
}