body {
    @include reset;
    font-family: $font-stack;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100%;
    @include reset;
}

//основной блок с карточками и контентом
.content {
    margin-left: 235px;
    padding-left: 40px;
    padding-right: 40px;
    min-height: 100vh;
    background-color: #e2e2e2;
}

//первый ряд
.row { 
    display: flex;
    margin-top: 50px;
    justify-content: space-between; 
}

.footer-content { 
    border-top: 1px solid gray;
    padding-top: 20px;
}

.spisok-contacts {
    padding-bottom: 30px;
}

.first-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

//строки с инпутами edit-profile
.row-1 {
    margin-left: 20px;
    margin-right: 20px;
}


.card-user {
    height:max-content;
}


.card-user-img {
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    margin-top: -20px;
}
